@font-face {
	font-family: "Shantell";
	src: url("./assets/fonts/ShantellSans-Regular.ttf");
}

:root {
	--color-balck: black;
	--color-balck-5: rgba(0, 0, 0, 0.5);
	--color-whitesmoke: whitesmoke;
	--color-white: white;
	--color-skyblue: skyblue;
	--color-deepskyblue: deepskyblue;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	cursor: default;
}

body {
	font-family: "Shantell", sans-serif;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	padding: 1rem;
	min-width: 18rem;
	max-width: 90%;
	height: 38rem;
	gap: 1rem;
}

#container .panel {
	position: relative;
	flex-grow: 1;
	height: 31rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3rem;
	overflow: hidden;
	transition: flex 1s ease-in-out;
	cursor: pointer;
}

#container .panel.active {
	flex-grow: 10;
}

#container .panel section {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3rem 0.25rem;
	opacity: 0;
	background-color: var(--color-balck-5);
	transition: all 1s ease-in-out;
	cursor: pointer;
}

#container .panel.active section {
	top: calc(100% - 6rem);
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.25rem;
}

.show {
	opacity: 1 !important;
}

#container .panel section p {
	color: var(--color-whitesmoke);
	font-size: 1.5rem;
}

#container .panel section a {
	display: none;
	color: var(--color-skyblue);
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s;
}
#container .panel section a:hover {
	letter-spacing: 0.125rem;
	color: var(--color-deepskyblue);
}

#container .panel section.show a {
	display: inline;
}
